/*
 * Pagewide overrides
 */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
}

.hero {
  font-family: "Poppins", sans-serif;
}

.spotify-link {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid #1db954;
  transition: background-color 120ms;
}

.spotify-link:hover,
.spotify-link:focus,
.spotify-link:active {
  color: #fff;
  background-color: #1db954;
  outline: none;
}

.inverted {
  color: rgb(255, 255, 255);
}

.inverted a {
  color: rgb(255, 255, 255);
}

.error {
  text-decoration: underline;
}

.album-item:not(:last-of-type),
.track-item:not(:last-of-type) {
  transition: background-color 120ms;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.album-item:last-of-type,
.track-item:last-of-type {
  border-bottom: none;
}

.album-item:hover {
  cursor: pointer;
  background-color: #eee !important;
}

.selected-album-item {
  background-color: #eee !important;
  border: 1px solid #eee;
}

.selected-album-item:hover {
  cursor: pointer;
  background-color: #ddd;
}

/* Semantic UI Overrides */
.no-padding {
  padding: 0 0 0 0 !important;
}

.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin {
  margin: 0 0 0 0 !important;
}

/* 4K Display support */
@media only screen and (min-width: 1997px) {
  .ui.container {
    width: 1927px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc(1927px + 2rem) !important;
  }

  .ui.relaxed.grid.container {
    width: calc(1927px + 3rem) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc(1927px + 5rem) !important;
  }
}

/*
 * Shared Page Styles
 */
.lead {
  font-size: 1.2em;
}

.right-pad {
  padding-right: 5px;
}

.top-pad {
  padding-top: 15px;
}
