/*
 * Pagewide overrides
 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}

.hero {
  font-family: 'Poppins', sans-serif;
}

.spotify-link {
  color: rgba(0, 0, 0, .8);
  border-bottom: 2px solid #1DB954;
  transition: background-color 120ms;
}

.spotify-link:hover, .spotify-link:focus, .spotify-link:active {
  color: #fff;
  background-color: #1DB954;
  outline: none;
}

.inverted {
  color: rgb(255, 255, 255);
}

.inverted a {
  color: rgb(255, 255, 255);
}

.error {
  text-decoration: underline;
}

/*
 * Shared Page Styles
 */
.lead {
  font-size: 1.2em;
}

.right-pad {
  padding-right: 5px;
}
