/*
 * Pagewide overrides
 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.ui.header {
  font-family: 'Poppins', sans-serif;
}

a {
  color: rgba(0, 0, 0, .87);
}

.inverted {
  color: rgb(255, 255, 255);
}

.inverted a {
  color: rgb(255, 255, 255);
}

.error {
  text-decoration: underline;
}

a:hover, a:focus, a:active {
  color: inherit;
}

/*
 * Shared Page Styles
 */
.lead {
  font-size: 1.2em;
}

.right-pad {
  padding-right: 5px;
}
